
%body
  #top.container_50
    #logo
      %p urbanit.us
    #search
      .search-wrap
        %p.label buscar
        %input{:type=>"text",:width=>200}
        %p.search-by santa tentacion
    #account
      - if session["user"].nil?
        =haml :signin
      - else
        =haml :me
      #shop-open
        %a{:href=>"#"} crea tu tienda
  #main.container_50
    =haml :global_nav
    #main-content
      =embed :marketplace_results
#layouts.hidden
  =haml :ghost_dialog
  =haml :signin_forms
