%head
  %title urbanit.us
  %meta{"http-equiv"=>"Content-Type", :content=>"text/html;charset=utf-8"}

  =grid_js_css
  =css_link "styles"

  =jquery
  =jquery_plugin "ui/ui.core"

  =jquery_plugin "tools/jquery.tools.min"
  =jquery_plugin "tools/tools.scrollable.navigator-1.0.2.min"

  =js_tag "lib"
  =js_tag "ui.checkbox"
  =js_tag "ui.sign_in"
  =js_tag "ui.ghost_dialog"
  =js_tag "app"

  =ie8
