#my-shop-new
  .wrap
    .logo-browse
    #my-shop-new-form
      %form{:method=>"POST", :action=>"/#{session["user"]["username"]}/shop"}
        %input.name{:name=>"name", :value=>"Nombre de tu tienda"}
        %input.website{:name=>"website", :value=>"sitio web"}
        %input.location{:name=>"location", :value=>"ciudad"}
        %textarea.description{:name=>"description", :value=>"Descripci&oacute;n"}
        %input.cedula{:name=>"cedula", :value=>"n&uacute;mero de c&eacute;dula"}
        %button#my-shop-open-post Abrir mi tienda
  .privacy-terms
    %h2.header T&eacute;rminos de Privacidad
    %p fsadfsad fasadfasdf sadfasfsa dfasdfsadf safasdfsadf sadfsadfsadfsadf safasdfsadfsadfsad fasadfasdf sadfasfsa dfasdfsadf safasdfsadf sadfsadfsadfsadf safasdfsadfsadfsad fasadfasdf sadfasfsa dfasdfsadf safasdfsadf sadfsadfsadfsadf safasdfsadfsadfsad fasadfasdf sadfasfsa dfasdfsadf safasdfsadf sadfsadfsadfsadf safasdfsadfsadfsad fasadfasdf sadfasfsa dfasdfsadf safasdfsadf sadfsadfsadfsadf safasdfsadfsadfsad fasadfasdf sadfasfsa dfasdfsadf safasdfsadf sadfsadfsadfsadf safasdfsadfsadfsad fasadfasdf sadfasfsa dfasdfsadf safasdfsadf sadfsadfsadfsadf safasdfsadfsadfsad fasadfasdf sadfasfsa dfasdfsadf safasdfsadf sadfsadfsadfsadf safasdfsadfsadfsad fasadfasdf sadfasfsa dfasdfsadf safasdfsadf sadfsadfsadfsadf safasdfsadfsadfsad fasadfasdf sadfasfsa dfasdfsadf safasdfsadf sadfsadfsadfsadf safasdfsadfsadfsad fasadfasdf sadfasfsa dfasdfsadf safasdfsadf sadfsadfsadfsadf safasdfsadfsadfsad fasadfasdf sadfasfsa dfasdfsadf safasdfsadf sadfsadfsadfsadf safasdfsadfsadfsad fasadfasdf sadfasfsa dfasdfsadf safasdfsadf sadfsadfsadfsadf safasdfsadfsadfsad fasadfasdf sadfasfsa dfasdfsadf safasdfsadf sadfsadfsadfsadf safasdfsadfsadfsad fasadfasdf sadfasfsa dfasdfsadf safasdfsadf sadfsadfsadfsadf safasdfsadfsadfsad fasadfasdf sadfasfsa dfasdfsadf safasdfsadf sadfsadfsadfsadf safasdfsadfsadfsad fasadfasdf sadfasfsa dfasdfsadf safasdfsadf sadfsadfsadfsadf safasdfsadfsadfsad fasadfasdf sadfasfsa dfasdfsadf safasdfsadf sadfsadfsadfsadf safasdfsad
    