#my-shop-nav
  %ul#my-shop-menu
    %li
      %a{:href=>"#my-shop"} mi tienda
    %li
      %a{:href=>"#my-catalog"} mi cat&aacute;logo
    %li
      %a{:href=>"#my-community"} mi comunidad
    %li
      %a{:href=>"#my-sales"} mis ventas
      
  