#signup-success
  %h1 Bienvenido a urbanitus
  %h2 #{session["user"]["username"]}
  %p Recibiras un correo en #{session["user"]["email"]} en el que encontraras un link para validar tu cuenta en urbanit.us y completar el proceso de registro.